aiosmtplib
alembic 
ariadne
arrow
asyncpg
coverage
cryptography
databases
email-validator
faker
fastapi
fastapi_exception
fastapi_global_variable
fastapi_pagination
graphql_server
hypercorn
loguru
paho-mqtt          
Pillow
psycopg2
pydash
pyjwt
pymongo
pyotp
pytest
python-dotenv
ruff
sentry_sdk
sqlalchemy
stripe
terminal_colors
typing_inspect
uvicorn
PyMuPDF