#!/bin/bash

#for i in "${!SITES[@]}"; do
#    site="${SITES[$i]}" \
#    hostname="${HOSTNAMES[$i]}" \
#    systemctl reload nginx && \
#    cp /etc/letsencrypt/live/${hostname}/* ${MQ_DATA_DIR}/etc/mosquitto/ca_certificates/ && \
#    chown 1883:1883 ${MQ_DATA_DIR}/etc/mosquitto/ca_certificates/* && \
#    docker exec mosquitto_container_${site} kill -HUP 1"
##done

# We no longer handle SSL in MQTT. It is handled in nginx, with an mqtt.* domain
systemctl reload nginx
